*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
main .container-fluid .mainCon .desImgCon .imgCon {
    background-color: antiquewhite;
}
main .container-fluid .mainCon .desImgCon .imgCon .imgDiv img{
    width: 100%;

    background-color: aqua;
}
main .container-fluid .mainCon .desImgCon .imgCon .imgDiv{
    padding: 10px;
}
 .card_container img{
  height: 75px;
  width: 75px;
}
 .card_container div{
  display: flex;
  align-items: center;
}
.classic img{ 
    width: 25px;
    border-radius: 50%;
}
.limEd img{ 
    width: 25px;
    border-radius: 50%;
}

.limEd img:hover{
    border: 2px solid grey ;
    padding: 0.5px;
}
.classic img:hover{
    border: 2px solid grey ;
    padding: 0.5px;
}